<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
<form th:object="${stagiaire}" method="post" th:action="@{/doCreate/stagiaire/}">

		<table>
			<thead>
				<tr>
					<th th:text="#{creerStagiaire}" />
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="#{nom}" />
					<td th:text="#{prenom}" />
				</tr>
				<tr>
					<td><input type="text" th:field="*{nom}" /></td>
					<td><input type="text" th:field="*{prenom}" /></td>
				</tr>
				<tr>
					<td th:text="#{telephone}" />
					<td th:text="#{mail}" />
				</tr>
				<tr>
					<td><input type="text" th:field="*{telephone}" /></td>
					<td><input type="text" th:field="*{mail}" /></td>
				</tr>
				<tr>
					<td th:text="#{identifiant}" />
					<td th:text="#{motDePasse}" />
				</tr>
				<tr>
					<td><input type="text" th:field="*{identifiant}" /></td>
					<td><input type="text" th:field="*{motDePasse}" /></td>
				</tr>
				<tr>
					<td th:text="#{numeroCarteAfpa}" />
				</tr>
				<tr>
					<td><input type="text" th:field="*{numeroCarteAfpa}" /></td>
				</tr>
				<tr>
				<td th:text="#{filiere}" />
				</tr>
				<tr>
				<td>
					<select th:field="*{f}">
						<option th:each="filiere : ${listeFiliere}" th:value="${filiere.id}" th:text="${filiere.libelle}" />
					</select>
				</td>
				</tr>

			</tbody>
		</table>
		<input type="submit" th:value="#{sauvegarder}">
	</form>
</body>
</html>