<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title th:text="#{createClient}" />
</head>
<body>

	

	<form th:object="${client}" method="post" >
		<table>
			<thead>
				<tr>
					<th th:text="#{createClient}" />
				</tr>
			</thead>
			<tbody>

				<tr>
					<td th:text="#{nom}" />
					<td th:text="#{prenom}" />
				</tr>
				<tr>
					<td><input type="text" th:field="*{nom}" /></td>
					<td><input type="text" th:field="*{prenom}" /></td>
				</tr>
				<tr>
					<td th:text="#{numeroCarteAfpa}" />
					<td th:text="#{telephone}" />
				</tr>
				<tr>
					<td><input type="text" th:field="*{numeroCarteAfpa}" /></td>
					<td><input type="text" th:field="*{telephone}" /></td>
				</tr>
				<tr>
					<td th:text="#{mail}" />
					
				</tr>
				<tr>
					<td><input type="text" th:field="*{mail}" /></td>
					
				</tr>
				<tr>
					<td th:text="#{Ville}" />
					<td th:text="#{Adresse}" />
				</tr>
				<tr>
					<td><input type="text" th:field="*{adresse.ville}" /></td>
					<td><input type="text" th:field="*{adresse.adresse}" /></td>
				</tr>

			</tbody>
		</table>
		<input type="submit" th:value="#{sauvegarder}">
	</form>

</body>
</html>


