<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<ul>
		<li><a href="index.html">Accueil</a></li>
		<li><a href="news.asp">Client</a></li>
		<li><a href="contact.asp">O.R.</a></li>
		<li><a href="about.asp">Administration</a></li>
	</ul>
	<form th:object="${newDevis}" method="post">


		<h1>Fournisseur</h1>
		<table class="createDevisTableFournisseur">

			<tr>
				<th th:text="#{fournisseur}" />
				<th th:text="#{numDevisFournisseur}" />
			</tr>
			<tr>
				<!-- 				<select th:field="*{fournisseurs}"> -->
				<!-- 					<option th:each="fournisseur : ${fournisseurs}" th:value="${i}" -->
				<!-- 						th:text="${fournisseur}" th:selected="${fournisseur.id==0}"></option> -->
				<!-- 				</select> -->
				<td><input type="text" th:field="*{f.nomFournisseur}" /></td>
				<td><input type="text" th:field="*{numDevis}" /></td>
			</tr>
		</table>

		<h1>Pièces</h1>
		<table class="createDevisTablePiece">

			<tr>
				<th th:text="#{quantitéePiece}" />
				<th th:text="#{referencePiece}" />
				<th th:text="#{libPiece}" />
				<th th:text="#{prixUnitairePiece}" />
				<th />
			</tr>
			<tr>
				<td><input type="text" /></td>
				<td><input type="text" /></td>
				<td><input type="text" /></td>
				<td><input type="text" /></td>
				<td>
					<button class="createDevisTablePieceRemove" type="button">-</button>
				</td>
			</tr>
		</table>
		<span class="prixTotalPieceTitle" th:text="#{prixTotalPieceTitle}"></span>
		<span class="prixTotalPieceAmount" th:text="#{prixTotalPieceAmount}"></span>
		<span class="prixTotalPieceMoney" th:text="#{prixTotalPieceMoney}"></span>
		<br/>
		<button class="createDevisTablePieceAdd" type="button">+</button>
		<br/>


<!-- 		<select th:field="*{typesPaiment}"> -->
<!-- 			<option th:each="tp : ${typesPaiment}" th:value="${i}" -->
<!-- 				th:text="${tp}" th:selected="${tp.id==0}"></option> -->
<!-- 		</select>  -->
		<span>AJOUTER DATE DE PAIEMENT</span> 
		<br/>
		<button class="listVehicule" id="backToIndex" type="button">Retour</button>
		<input type="submit" th:value="#{sauvegarder}">
			
</body>
</html>