<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<ul>
		<li><a href="index.html">Accueil</a></li>
		<li><a href="news.asp">Client</a></li>
		<li><a href="contact.asp">O.R.</a></li>
		<li><a href="about.asp">Administration</a></li>
	</ul>
</head>
<body>
	<input type="submit" class="listDevis"  id=addDevis value="Nouveau"	onclick="window.location='/createDevis'">
	<table class="listDevisTable">
		<thead>
			<tr>
				<th th:text="#{numDevis}" />
				<th th:text="#{dateCreationDevis}" />
				<th th:text="#{datePaiement}" />
				<th th:text="#{typePaiement}" />
				<th th:text="#{fournisseur}" />
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="dev : ${devis}">
				<td th:text="${dev.numDevis}" />
				<td th:text="${dev.dateCreation}" />
				<td th:text="${dev.datePaiement}" />
				<td th:text="${dev.paie.libellePaiement}" />
				<td th:text="${dev.f.nomFournisseur}" />
			</tr>
		</tbody>
	</table>
	<button class="listDevis" id="backToIndex" type="button">Retour</button>
	<button class="listDevis" id="modifierlistDevis" type="button">Modifier</button>
</html>